
<h2>Metrics</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <td>Name</td>
    </tr>
  </thead>
  
  <tbody>
    <%- @metrics.each do |metric| -%>
    <tr>
      <td><%= metric.name %></td>
    </tr>
    <%- end -%>
  </tbody>
</table>
