<div class="pull-right">
  <%= link_to new_dashboard_section_metric_path(@dashboard, @section), :class => 'btn' do %>
  <i class="icon-plus"></i> Add Metric
  <% end %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_dashboard_section_path(@dashboard, @section), :class => 'btn' %>
</div>

<div class="page-header">
  <h1><%= @section.name %></h1>
</div>

<div class="span4">
  <%- @section.metrics.each do |metric| -%>
  <%= render 'dashboards/metric', :metric => metric %>
  <%- end -%>
</div>

