<div class="btn-group pull-right">
  <%= link_to 'New Dashboard', new_dashboard_path, :class => 'btn' %>
</div>

<h2>Dashboards</h2>

<ul class="nav nav-tabs nav-stacked span8">
  <%- @dashboards.each do |dashboard| -%>
  <li><%= link_to dashboard.name, dashboard %></li>
  <%- end -%>
</ul>
